*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --color-green : green;
    --color-orange: rgb(241, 70, 44);
    --btn-color:#ffbe46;
    --font-12px : 12px;
    --fs-button:1.5rem;
    --image-div-holder-width-160px:160px;
    --gap-20px:20px;
    --margin-top-20px:20px;
    --margin-top-50px:50px;
    --padding-space:30px;
    --padding-20px:10px;
    --border-r10px:10px;
}
body{
    background: var(--color-orange);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meal-info-holder{
    width: 600px;
    background: white;
    padding: var(--padding-space);
    border-radius: 5px;
}
.searchBtn{
    background: var(--color-green);
    color: black;
    padding: 3px 20px;
    font-size: var(--fs-button);
    border-radius: 5px;
    cursor: pointer;
    border:none;
}
.inputAndBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-20px);
}
#searchInput{
    min-width: 400px;
    min-height: 36px;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}
.mealsHolder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--image-div-holder-width-160px), 1fr));
    gap: var(--gap-20px);
    margin-top: var(--margin-top-50px);
    max-height:600px;
    overflow: auto;
}
.imageHolder{
    border-radius: var(--border-r10px);
    overflow: hidden;
}
.mealDetailHolder .imageHolder{
    display: grid;
    width: 50%;
    margin: 0 auto;
}
.mealInfo{
    text-align: center;
    letter-spacing: 1px;
    background: var(--btn-color);
    padding: 5px 0px;
    font-size: 12px;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
}
.hidden{
    display: none;
}
.mainDetail{
    position: relative;
}
.mealDetailHolder{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}
li{
    list-style-position:inside;
}
.ingredient{
    display: inline-block;
}
.ingredientHolder span , .ingredientHolder p{
    display: inline-block;
}
.styledSpan{
    margin-right: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}
/* .ingredient span:empty{
} */
.ingredientHolder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: var(--margin-top-20px);
}
.divForRecipeBtnHolder{
    display: flex;
    justify-content: end;
}
.divForRecipeBtnHolder .recipeBtn{
    background: var(--btn-color);
    border: none;
    font-size: var(--fs-button);
    padding: 5px 30px;
    margin-top: var(--margin-top-20px);
    cursor: pointer;
    border-radius: var(--border-r10px);
}
.recipInstructionseDiv{
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.icon{
    border: none;
    box-shadow: 0px 0px 1px 1px gray;
    padding: 1px 5px;
    font-size: var(--fs-button);
    color: black;
    background: white;
    margin-bottom: var(--margin-top-20px);
    margin-right: var(--margin-top-20px);
    cursor: pointer;
}
.icon:hover{
    background-color: var(--color-orange);
}
.iconDiv{
    display: flex;
    justify-content: flex-end;
}
/* media queries  */
@media (max-width:670px){
    :root{
         --padding-space:10px;
         --fs-button:0.8;
    }
    .meal-info-holder{
        width: 80%;
        margin: 0 auto;
        margin-top: var(--margin-top-20px);
    }
    body{
        display:block;
    }
    #searchInput{
        min-width: 0px;
        flex: 1;
    }
}